[bB]in/
[oO]bj/
*.cache
*.user
*.suo
*.log
*.ncrunch*
_ReSharper*
*.patch

/*.html
/docs/*.html
.data_configdb/
.data_db/

packages/
Deployment\Installer\_output\tmp\
Deployment\Installer\_output\log\
.vs/
.vscode/